.mediumButton {
    display: block;
    padding: 10px 10px;
    background: none;
    border: 2px solid transparent;
    width: 400px;
    color: rgb(246, 246, 246);
    font-size: 22px;
    text-align: left;
    cursor: url("./src/assets/cursor/cursor_press.png"), auto;
}

.mediumButton:hover {
    border-image: linear-gradient(45deg, red , rgb(255, 106, 0));
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
    background: none;
    cursor: url("./src/assets/cursor/cursor_press.png"), auto;
}
